# Default ignored files
/shelf/
/workspace.xml
/compiler.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.edit.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/uiDesigner.xml
/vcs.xml
/workspace.xml
